h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(46, 84, 155);
    color:#ffcb06;
   
}
h2 {
    background-color: black;
    font-size: medium;
    font-weight: bold;
    text-align: left;
   
} 

h3 {
  
    font-size:huge;
    font-weight: bold;
    text-align: left;
}  


.list{
    background-color: black;
    font-size: medium;
    font-weight: bold;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}  
img{
    border: 5px solid rgb(46, 84, 155);

}
#starters_images_div{
    background-color: black; 
    border: 5px solid rgb(46, 84, 155); 
}
.introduction {
    
    background-color: black;
    height: 250;
}
.list{
    text-align: left;
    background-color: black;
    font-weight: bold;

}
#bulbasaur_container{
    text-align: left;  
        border-radius: 250px;
        height: 150px;
        background-color: limegreen;
        border: 1px solid yellow;
}


#charmander_container{
    text-align: left; 
    border-radius: 250px;
    height: 150px;
    background-color:red;
    border: 1px solid yellow;
 
}
#squirtle_container{
    text-align: left; 
    border-radius: 250px;
    height: 150px;
    background-color:rgb(146, 198, 223);
    border: 1px solid yellow;
 
}
    
    
 div{
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: white;
}



.pokemon_description {
   
    font-size: 20px ;
    font-weight: bold;
    font-family: sans-serif;
    color:white; 
}
.pokemon_images{
    height: 10;
}